body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.divTile {
    box-sizing: border-box;
    opacity: 0;
    border: 1px solid black;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 20px;
}