body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.divTile {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 20px;
}